<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.yun.homeplusplus.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.yun.homeplusplus.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>com.yun.homeplusplus.CreateResidentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteResidentServlet</servlet-name>
    <servlet-class>com.yun.homeplusplus.DeleteResidentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DeleteResidentServlet</servlet-name>
    <url-pattern>/delRes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteRequestServlet</servlet-name>
    <servlet-class>com.yun.homeplusplus.DeleteRequestServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DeleteRequestServlet</servlet-name>
    <url-pattern>/delReq</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>CreateMessageServlet</servlet-name>
      <servlet-class>com.yun.homeplusplus.CreateMessageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>CreateMessageServlet</servlet-name>
      <url-pattern>/sendMsg</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>LoginApi</servlet-name>
      <servlet-class>com.yun.homeplusplus.ClientLoginApi</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>LoginApi</servlet-name>
      <url-pattern>/loginapi</url-pattern>
  </servlet-mapping>
  
    <servlet>
      <servlet-name>ReceiveMessageApi</servlet-name>
      <servlet-class>com.yun.homeplusplus.ReceiveMessageApi</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>ReceiveMessageApi</servlet-name>
      <url-pattern>/remsgapi</url-pattern>
  </servlet-mapping>
  
   <servlet>
      <servlet-name>SentMessageApi</servlet-name>
      <servlet-class>com.yun.homeplusplus.SentMessageApi</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>SentMessageApi</servlet-name>
      <url-pattern>/sentmsgapi</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>SentRequestApi</servlet-name>
      <servlet-class>com.yun.homeplusplus.SentRequestApi</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>SentRequestApi</servlet-name>
      <url-pattern>/sentreqapi</url-pattern>
  </servlet-mapping>  
  
    <servlet>
      <servlet-name>DeleteMessageServlet</servlet-name>
      <servlet-class>com.yun.homeplusplus.DeleteMessageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>DeleteMessageServlet</servlet-name>
      <url-pattern>/delMsg</url-pattern>
  </servlet-mapping>  
  
    <servlet>
      <servlet-name>UploadImageApi</servlet-name>
      <servlet-class>com.yun.homeplusplus.UploadImageApi</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>UploadImageApi</servlet-name>
      <url-pattern>/uploadimgapi</url-pattern>
  </servlet-mapping>  
  
    <servlet>
      <servlet-name>UploadRequestApi</servlet-name>
      <servlet-class>com.yun.homeplusplus.UploadRequestApi</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>UploadRequestApi</servlet-name>
      <url-pattern>/uploadreqapi</url-pattern>
  </servlet-mapping>  
  
      <servlet>
      <servlet-name>UploadMessageApi</servlet-name>
      <servlet-class>com.yun.homeplusplus.UploadMessageApi</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>UploadMessageApi</servlet-name>
      <url-pattern>/uploadmsgapi</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>DeleteAllServlet</servlet-name>
      <servlet-class>com.yun.homeplusplus.DeleteAllServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>DeleteAllServlet</servlet-name>
      <url-pattern>/delall</url-pattern>
  </servlet-mapping>  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
